html{
    font-size: 62.5%; //~10/16px, where 16px is a default font size of the browser
}
html, body {
    height: 100%;
}
img {
    height: auto;
    max-width: 100%;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

sup {
    font-size: 55%;
}

[href^="tel:"],
[href^="mailto:"] {
    color: $primary;
}
a{
    text-decoration: none;
}



.page-title{
    position: relative;
    height: 50vh;
    display: flex;
    align-items: end;
    padding-bottom: rem(50px);
    &::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
