.header {
  &-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .navbar {
    background-color: rgba($white, 0.7);
    padding: rem(20px) 0;
    transition: $transition-default;
    &-brand {
      margin: 0 auto rem(20px);
      //Logo

      img {
        max-width: rem(200px);
      }
      @include media-breakpoint-up(md) {
        margin: 0 rem(50px) 0 0;
      }
    }
    &-collapse {
      order: 3;
    }
    &-nav {
      .nav-item {
        a,
        .nav-link {
          color: $white;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1.4;
          padding: rem(10px) rem(15px);
          @include media-breakpoint-up(lg) {
            padding-left: rem(15px);
            padding-right: rem(15px);
            line-height: 0.4;
          }
          &:hover {
            color: $primary;
          }
        }
        &:not(:last-child) {
          border-right: 1px solid $white;
        }
      }
    }
    &-nav-secondary {
      order: 1;
      @include media-breakpoint-up(lg) {
        order: 3;
      }
      > ul {
        display: flex;
        margin-bottom: 0;
        > li {
          padding: 0 rem(15px);
          &:not(:last-child) {
            border-right: rem(1px) solid $white;
          }
          span {
            color: $white;
          }
          > a {
            color: $white;
            line-height: 0.4;
            display: inline-block;
            text-transform: uppercase;

            i {
              font-size: rem(12px);
              color: $secondary;
              margin-right: rem(5px);
            }
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    .navbar-toggler {
      order: 2;
      border: none;
    }
    &.darkHeader {
      background-color: rgba($white, 1);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      .navbar-nav {
        .nav-item {
          border-color: $gray-900;
          a,
          .nav-link {
            color: $gray-900;
            &:hover {
              color: $primary;
            }
          }
        }
      }
      .navbar-nav-secondary {
        > ul {
          > li {
            &:not(:last-child) {
              border-right: rem(1px) solid $gray-900;
            }
            a {
              color: $gray-900;
              &:hover {
                color: $primary;
              }
            }
            span {
              color: $gray-900;
            }
          }
        }
      }
    }
  }
}
